In [6]:
#проверка четности числа 

num = 13

if num % 2 == 0:
    print('Четное')
else:
    print('Нечетное')

Нечетное

In [ ]:
some_names = ['John', 'James', 'Linda']

In [8]:
some_names.sort()
some_names

['James', 'John', 'Linda']

In [10]:
name = 'John'

In [11]:
result = name.lower()
result

'john'

In [12]:
some_names = ['John', 'James', 'Linda']
result = some_names.sort()
print(result)

None

### Тема Введение в типы данных

In [19]:
salary = 1000

print('Моя годовая зп', salary, 'у.е')

Моя годовая зп 1000 у.е

In [18]:
print('Моя годовая зп ' + str(salary) + ' у.е')

Моя годовая зп 1000 у.е

In [20]:
int('1000') + 100

1100

In [23]:
#неявное преобразование типов 
print(1 + False)

1

#### Тема Операции со строками

In [24]:
1 + 2

3

'1' + '2'

In [26]:
my_string = 'Hello, World'

In [33]:
print(my_string)
print(my_string.lower())
print(my_string.upper())
print(my_string.capitalize())
print(my_string.replace('Hello', 'Goodbye'))
len(my_string)

Hello, World
hello, world
HELLO, WORLD
Hello, world
Goodbye, World

12

#### Тема Индексация и срезы строк

In [36]:
my_string = 'Люблю грозу в начале мая'
print(my_string[0] + my_string[7])

Лр

In [40]:
my_string[0:8:2]
my_string[0:5]
my_string[6:]
my_string[:5]

'Люблю'

##### Проверка на вхождение элемента в объект

In [47]:
target_string = 'гроз'

if target_string in my_string:
    print('find')

find

##### f-строки

In [51]:
name = 'oleg'
lang = 'python'

t = f"Hello, (name.capitalize()), i know {lang} a bit"
print(t)

print(type(t))

Hello, (name.capitalize()), i know python a bit
<class 'str'>

#### Тема Списки

In [52]:
month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']

income_list = [13000, 14000, 14300, 15000, 13800, 13000, 14900, 15200, 15300]

income_by_months = [['Jan', 13000], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800],
                    ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [53]:
print(type(month_list))

<class 'list'>

In [55]:
# Индексациия элементов в списке 
print (income_by_months[-4])

['Jun', 13000]

In [59]:
# срезы 
print(income_by_months[0:2])
print('-'*14)
print(income_by_months[2:])

[['Jan', 13000], ['Feb', 14000]]
--------------
[['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [62]:
income_by_months[0] [1] = 13100
print(income_by_months)

[['Jan', 13100], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [63]:
a, b, = [1, 2]

In [65]:
income_by_months_2 = [['Nov', 13500], ['Dec', 17000]]
income_by_months = income_by_months + income_by_months_2
print(income_by_months)

[['Jan', 13100], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300], ['Nov', 13500], ['Dec', 17000]]

# Индексациия элементов в списке