<a href="https://colab.research.google.com/github/ksusha14021995-prog/python_study/blob/main/%D0%9C%D0%A4%D0%A2%D0%98_2_%D0%9A%D0%BE%D0%BB%D0%BB%D0%B5%D0%BA%D1%86%D0%B8%D0%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Списки

In [ ]:
a = [1, 2, 3, 4, 5]

In [ ]:
a = [1, 3.39, 'sdfuh', True, [1, 2, ], (1, 2)]
a

[1, 3.39, 'sdfuh', True, [1, 2], (1, 2)]

Список операций:

In [ ]:
[f for f in dir(list) if not f.startswith('__')]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

## Изменение списка

In [ ]:
letters = ['a', 'b', 'c', 'd']
letters

['a', 'b', 'c', 'd']

Замена элемента:

In [ ]:
letters[3] = 'DD'
letters

['a', 'b', 'c', 'DD']

In [ ]:
letters[4] = 'DD'
letters

IndexError: list assignment index out of range

Добавить значение _в начало_:

In [ ]:
letters.insert(0, 'AA')
letters

['AA', 'a', 'b', 'c', 'DD']

Добавить значение _в конец_:

In [ ]:
letters.append('ZZ')
letters

['AA', 'a', 'b', 'c', 'DD', 'ZZ']

## Сортировка

In [ ]:
x = [5, 4, 1, 3]
x.sort()
x

[1, 3, 4, 5]

In [ ]:
x = x.sort()
type(x)

NoneType

Функция `sorted` создаёт копию и упорядочивает элементы копии, то есть основной список остаётся неизменным:

In [ ]:
x = [5, -4, 1, -3]
x_sorted = sorted(x)

print(f'x={x}')
print(f'x_sorted={x_sorted}')

x=[5, -4, 1, -3]
x_sorted=[-4, -3, 1, 5]

Обратный порядок задаётся с помощью параметра `reverse=True`:

In [ ]:
x = [5, 4, 1, 3]
x.sort(reverse=True)
x

[5, 4, 3, 1]

In [ ]:
sorted(x, reverse=True)

[5, 4, 3, 1]

Иногда требуется отсортировать по собственному признаку - не прямо по исходным значениям, а производным от них. Например, сортировка по абсолютному значения числа:

In [ ]:
abs(-10)

10

In [ ]:
def myabs(y):
    return abs(y)


x = [15, -24, 1, -53]
x.sort(key=myabs)
x

[1, 15, -24, -53]

или по длине строки:

In [ ]:
def mylen(y):
    return len(y)

In [ ]:
x = ['apple', 'banana', 'plum', 'grapefruit']
sorted(x, key=len)

['plum', 'apple', 'banana', 'grapefruit']

## Группировка элементов в список

In [ ]:
x, y, z = [1, 2, 3, 4, 5]
x, y, z

ValueError: too many values to unpack (expected 3)

In [ ]:
x

[5, 4, 3, 1]

Оператор `*` (splat, звёздочка) группирует элементы в список:

In [ ]:
x, *y, z = [1, 2, 3, 4, 5]

print(f'x={x}')
print(f'y={y}')
print(f'z={z}')

x=1
y=[2, 3, 4]
z=5

и разгруппировывает:

In [ ]:
a = [1, 2, 3]
[a, 4, 5]

[[1, 2, 3], 4, 5]

In [ ]:
[*a, 4, 5]

[1, 2, 3, 4, 5]

## Соединение списков

Можно объединить два списка на лету в новый, используя оператор `+`:

In [ ]:
letters = ['a', 'b', 'c']
nums = [1, 2]
letters + nums

['a', 'b', 'c', 1, 2]

In [ ]:
letters.extend(nums)

In [ ]:
letters

['a', 'b', 'c', 1, 2]

Нельзя на лету соединить список и элемент:

```python
[1, 2, 3] + 4  # так нельзя
```

Но можно из элемента сделать список и соединить два списка:

In [ ]:
[1, 2, 3] + 4

TypeError: can only concatenate list (not "int") to list

In [ ]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [ ]:
[1, 2, 3] + [4]

[1, 2, 3, 4]

In [ ]:
letters = ['a', 'b', 'c']
nums = [1, 2]
letters += nums
letters

['a', 'b', 'c', 1, 2]

Соединить попарно элементы списков `letters` и `nums`:

In [ ]:
for i in range(len(letters)):
    print(letters[i], nums[i])

a 1
b 2

IndexError: list index out of range

In [ ]:
for i in zip(letters, nums):
    print(i)

('a', 1)
('b', 2)

In [ ]:
list(zip(letters, nums))

[('a', 1), ('b', 2)]

## 🧠 Преобразование текста в список

Имеется переменная с текстовыми данными:

In [ ]:
text = """
name,dept,tasks
Вася,Отдел кадров,10
Петя,Отдел кадров,7
Маша,Бухгалтерия,5
Алексей,Бухгалтерия,6
"""

Необходимо найти суммарное количество задач в подразделении "Отдел кадров".

Алгоритм может выглядеть так:

```text
разбить текст на строки
удалить первую строку
сумма = 0
для каждой строки
  разбить по запятым на элементы
  если dept не равен "Отдел кадров", то пропустить запись
  сумма += третий элемент
```

Реализуйте его ниже:

### 🧠 Преобразование текста в список (ответ)

Имеется переменная с текстовыми данными:

In [ ]:
text = """
name,dept,tasks
Вася,Отдел кадров,10
Петя,Отдел кадров,7
Маша,Бухгалтерия,5
Алексей,Бухгалтерия,6
"""

Необходимо найти суммарное количество задач в подразделении "Отдел кадров".

Алгоритм может выглядеть так:

```text
разбить текст на строки
удалить первую строку
сумма = 0
для каждой строки
  разбить по запятым на элементы
  если dept не равен "Отдел кадров", то пропустить запись
  сумма += третий элемент
```

Реализуйте его ниже:

In [ ]:
text.split('\n')

['',
 'name,dept,tasks',
 'Вася,Отдел кадров,10',
 'Петя,Отдел кадров,7',
 'Маша,Бухгалтерия,5',
 'Алексей,Бухгалтерия,6',
 '']

In [ ]:
data = text.strip().split('\n')[1:]
sum_tasks = 0
for line in data:
    elements = line.split(',')
    if elements[1] != 'Отдел кадров':
        continue
    sum_tasks += int(elements[2])
sum_tasks

17

## 🧠 По убыванию
Напишите программу, которая будет запрашивать у пользователя целые числа и сохранять их в виде списка. Индикатором окончания ввода значений также должен служить ноль. Необходимо вывести на экран введенные значения в порядке убывания.


Пример работы программы: <br>
Введите число: 1<br>
Введите число: 3<br>
Введите число: 2<br>
Введите число: 0<br>
Введённые значения в порядке убывания: 3, 2, 1

#### 🧠 По убыванию (ответ)

In [ ]:
numbers = []
while True:
    num_str = input("Введите число: ")
    num = int(num_str)
    if num == 0:
        break
    numbers.append(num)

numbers.sort(reverse=True)
print("Введённые значения в порядке убывания:", ", ".join(map(str, numbers)))

Введите число: 1
Введите число: 3
Введите число: 2
Введите число: 0
Введённые значения в порядке убывания: 3, 2, 1

# Множества

**Множество** (set) представляет собой неупорядоченную совокупность объектов, в которой не может быть дубликатов.

Множества часто используются:

- для удаления дубликатов
- для проверки принадлежности

## Список операций

In [ ]:
[f for f in dir(set) if not f.startswith('__')]

['add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

## Создание

In [ ]:
a = set()
a

set()

In [ ]:
a = {1, 1, 4, 5}
a

{1, 4, 5}

In [ ]:
a = {}  # dict
type(a)

dict

In [ ]:
a = set([1, 1, 4, 5])
a

{1, 4, 5}

In [ ]:
list1 = [1, 2, 3]
a = {True, 'a', 6, 6, 6}
list1[1] = 20
a

{6, True, 'a'}

In [ ]:
a = {True, 'a', 6, 6, 6, (1, 2, 3)}
a

{(1, 2, 3), 6, True, 'a'}

## Операции над множествами

Множества не поддерживают сортировку.

In [ ]:
a.sort()

AttributeError: 'set' object has no attribute 'sort'

In [ ]:
a = {6, 6, 6, 7, 8, 1, 4, 6, 2, 3, 40}
a

{1, 2, 3, 4, 6, 7, 8, 40}

In [ ]:
sorted(a)

[1, 2, 3, 4, 6, 7, 8, 40]

Множества не поддерживают индексирование элементов - нельзя обращаться по индексу и делать срез.

In [ ]:
a[-1]

TypeError: 'set' object is not subscriptable

Но можно перебирать элементы множества:

In [ ]:
a = {1, 1, 5, 4}
for element in a:
    print(element)

1
4
5

In [ ]:
for i, el in enumerate(a):
    print(el)
    print(a[i])

1

TypeError: 'set' object is not subscriptable

### Множество и элемент

Проверка на вхождение:

In [ ]:
a = {1, 1, 4, 5}
5 in a

True

In [ ]:
6 in a

False

### Множество и другое множество

Множества поддерживают классические операции теории множеств, такие как объединение (`|`), пересечение (`&`), вычитание (`-`) и исключающее ИЛИ (`^`).

<img src='https://drive.google.com/uc?id=1IHypqKaTmrLLHg7aAuadjixn8ma3mQJR'>

In [ ]:
a = {1, 2}
b = {2, 3, 4}
print(a.union(b))
print(b.union(a))
print(a)
print(a | b)
print(a)

{1, 2, 3, 4}
{1, 2, 3, 4}
{1, 2}
{1, 2, 3, 4}
{1, 2}

In [ ]:
a = {1, 2}
b = {2, 3, 4}
print(a.intersection(b))
print(b.intersection(a))
print(a & b)

{2}
{2}
{2}

In [ ]:
a = {1, 2}
b = {2, 3, 4}
print(a.symmetric_difference(b))
print(a ^ b)

{1, 3, 4}
{1, 3, 4}

In [ ]:
a = {1, 2}
b = {2, 3, 4}
print(a.difference(b))
print(a - b)

{1}
{1}

In [ ]:
a = {1, 2}
b = {2, 3, 4}
print(b.difference(a))
print(b - a)

{3, 4}
{3, 4}

Для изменения исходного множества есть вторая группа операций с суффиксом `_update`.

In [ ]:
a = {1, 2}
b = {2, 3, 4}
a.update(b)  # union!
a

{1, 2, 3, 4}

In [ ]:
a = {1, 2}
b = {2, 3, 4}
a.intersection_update(b)
a

{2}

In [ ]:
a = {1, 2}
b = {2, 3, 4}
a.symmetric_difference_update(b)
a

{1, 3, 4}

In [ ]:
a = {1, 2}
b = {2, 3, 4}
a.difference_update(b)
a

{1}

Проверка на равенство:

In [ ]:
a = {1, 2, 3}
b = {2, 3, 1}
a == b

True

In [ ]:
a

{1, 2, 3}

In [ ]:
b

{1, 2, 3}

Проверка на _отсутствие_ общих элементов (обратное пересечение):

In [ ]:
a = {1, 2}
b = {3}
a.isdisjoint(b)

True

In [ ]:
a = {1, 2}
b = {2, 3}
a.isdisjoint(b)

False

## 🧠 Работа с множествами

Даны следующие данные:

In [ ]:
text1 = """
январь: 2
февраль: 4
март: 7
"""

In [ ]:
text2 = """
февраль: 10
март: 8
апрель: 3
"""

Составьте множества по месяцам:

{'март', 'февраль', 'январь'}

{'апрель', 'март', 'февраль'}

Найдите общие месяцы:

{'март', 'февраль'}

Создайте переменную `months` и поместите в неё все месяцы:

{'апрель', 'март', 'февраль', 'январь'}

Найдите месяцы которые не перечислены в обоих текстах:

{'август', 'декабрь', 'июль', 'июнь', 'май', 'ноябрь', 'октябрь', 'сентябрь'}

### 🧠 Работа с множествами (ответ)

Даны следующие данные:

In [ ]:
text1 = """
1. январь: 2
февраль: 4
3. март: 7
"""

In [ ]:
text1 = """
январь: 2
февраль: 4
март: 7
"""

In [ ]:
text2 = """
февраль: 10
март: 8
апрель: 3
"""

Составьте множества по месяцам:

In [ ]:
s1 = text1.strip().split('\n')
mon1 = set()
for e1 in s1:
    mon1.add(e1.split(':')[0])
mon1

{'март', 'февраль', 'январь'}

In [ ]:
mon1 = set(text1.
    strip().
    replace(':', '').
    replace('\n', ' ').
    split(' ')
    [::2])
mon1

{'март', 'февраль', 'январь'}

In [ ]:
mon1 = set(text1.replace(':', '').strip().split()[::2])
mon1

{'март', 'февраль', 'январь'}

In [ ]:
mon2 = set(text2.replace(':', '').strip().split()[::2])
mon2

{'апрель', 'март', 'февраль'}

Найдите общие месяцы:

In [ ]:
mon1 & mon2

{'март', 'февраль'}

Создайте переменную `months` и поместите в неё все месяцы:

In [ ]:
months = mon1 | mon2
months

{'апрель', 'март', 'февраль', 'январь'}

Найдите месяцы которые не перечислены в обоих текстах:

In [ ]:
all = {
    'январь',
    'февраль',
    'март',
    'апрель',
    'май',
    'июнь',
    'июль',
    'август',
    'сентябрь',
    'октябрь',
    'ноябрь',
    'декабрь',
}
all - months

{'август', 'декабрь', 'июль', 'июнь', 'май', 'ноябрь', 'октябрь', 'сентябрь'}

# str.join()

separator.join(iterable) возвращает новую строку, состоящую из элементов iterable, вставляя между соседними элементами separator

Элементы iterable должны быть строками. Если встретится не-строка, будет TypeError.

In [ ]:
','.join(['hi', 'hello'])

'hi,hello'

In [ ]:
','.join([1, 2, 3])

TypeError: sequence item 0: expected str instance, int found

Можно передать любой итерируемый объект (список, кортеж и т. п.).

In [ ]:
tuple_example = ('1', '2', '3', '4', '5')
' '.join(tuple_example)

'1 2 3 4 5'

In [ ]:
set_example = {'1', '2', '3', '4', '5'}
' '.join(set_example)

'2 4 3 1 5'

In [ ]:
str_example = '12345'
' '.join(str_example)

'1 2 3 4 5'

In [ ]:
fields = ["John", "Doe", 30, "New York"]
result = ','.join(fields)
print(result)

TypeError: sequence item 2: expected str instance, int found

In [ ]:
fields = ["John", "Doe", 30, "New York"]
result = ','.join(str(item) for item in fields)
print(result)

John,Doe,30,New York

## Сравнение эффективности .join() с конкатенацией

In [ ]:
num_strings = 100_000
small_string = "А" * 10
list_of_strings = [small_string] * num_strings

list_of_strings[:10]

['АААААААААА',
 'АААААААААА',
 'АААААААААА',
 'АААААААААА',
 'АААААААААА',
 'АААААААААА',
 'АААААААААА',
 'АААААААААА',
 'АААААААААА',
 'АААААААААА']

In [ ]:
import timeit

# Используем .join()
time_join = timeit.timeit(lambda: "".join(list_of_strings), number=1000)
time_join

1.8280008069999667

In [ ]:
# Используем конкатенацию
def concatenate():
    result = ""
    for s in list_of_strings:
        result += s
    return result

time_concat = timeit.timeit(concatenate, number=1000)
time_concat

10.320380305999947

In [ ]:
print(f"Время выполнения с использованием ''.join(): {time_join:.3f} секунд")
print(f"Время выполнения с использованием конкатенации: {time_concat:.3f} секунд")

Время выполнения с использованием ''.join(): 1.828 секунд
Время выполнения с использованием конкатенации: 10.320 секунд

Почему join предпочтителен?

- Строки в Python неизменяемы. При конкатенации каждый раз создаётся новый объект строки и копируются все предыдущие данные. Это медленно и требует много временной памяти на промежуточные копии.

- join не создаёт такие промежуточные копии, а он:
  - принимает итерируемый набор строк
  - вычисляет общую длину результата
  - выделяет один буфер нужной длины
  - последовательно копирует каждую строку в этот буфер ровно один раз

# Словари

**Словари** (dictionary) позволяют хранить пары ключ-значение. В качестве ключей могут выступать неизменяемые (immutable) значения.

Поэтому они используются для быстрого доступа к значению по ключу.

Орфографический словарь похож на Python-список. Толковый словарь похож на Python-словарь.

Список операций:

In [ ]:
[f for f in dir(dict) if not f.startswith('__')]

['clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

Для создания словаря со парами ключ-значение, их нужно перечислить в `{}` через двоеточие `:`

In [ ]:
ages = {'Alice': 7, 'Bob' : 11, 'Charlie': 27}
ages

{'Alice': 7, 'Bob': 11, 'Charlie': 27}

In [ ]:
{'Alice': {'7.0': 5}, 'Bob' : 11}

{'Alice': {'7.0': 5}, 'Bob': 11}

## Доступ к элементам

Доступ по несуществующему ключу создаст исключение `KeyError`:

In [ ]:
ages['Вася']

KeyError: 'Вася'

Чтобы его избежать, часто используют оператор `in` и выражение `not in`:

In [ ]:
if 'Вася' in ages:
    print(ages['Вася'])

#### `dict.get(key, default)`

In [ ]:
ages.get('Вася')

In [ ]:
ages.get('Вася', 'нет такого ключа')

'нет такого ключа'

#### `dict.setdefault(key, default)`

Если ключа key не существует, то создаёт ключ `key` со значением `default`. **Возвращает** (название метода сильно путает) значение по ключу.

```
if key not in dict:
    dict[key] = default
return dict[key]
```

In [ ]:
ages['Петя'] = 5
ages

{'Alice': 7, 'Bob': 11, 'Charlie': 27, 'Петя': 5}

In [ ]:
ages['Петя'] = 50
ages

{'Alice': 7, 'Bob': 11, 'Charlie': 27, 'Петя': 50}

In [ ]:
if 'Петя' in ages:
    print(ages['Петя'])
else:
    ages['Петя'] = 555

ages

50

{'Alice': 7, 'Bob': 11, 'Charlie': 27, 'Петя': 50}

In [ ]:
ages = {'Alice': 7, 'Bob' : 11, 'Charlie': 27}

ages.setdefault('Петя', 5)

5

In [ ]:
ages

{'Alice': 7, 'Bob': 11, 'Charlie': 27, 'Петя': 5}

In [ ]:
ages.setdefault('Петя', 555)

5

### Перебор ключей и значений

Можно получить все ключи и значения в виде списка:

In [ ]:
ages.keys()

dict_keys(['Alice', 'Bob', 'Charlie', 'Петя'])

In [ ]:
for key in ages.keys():
    print(key)

Alice
Bob
Charlie
Петя

In [ ]:
for key in ages.keys():
    val = ages[key]
    print(f'Имя={key}, Возраст={val}')

Имя=Alice, Возраст=7
Имя=Bob, Возраст=11
Имя=Charlie, Возраст=27
Имя=Петя, Возраст=5

In [ ]:
ages.values()

dict_values([7, 11, 27, 5])

In [ ]:
for val in ages.values():
    print(val)

7
11
27
5

In [ ]:
ages.items()

dict_items([('Alice', 7), ('Bob', 11), ('Charlie', 27), ('Петя', 5)])

In [ ]:
for el in ages.items():
    print(el)
    print(f'Имя={el[0]}, Возраст={el[1]}')

('Alice', 7)
Имя=Alice, Возраст=7
('Bob', 11)
Имя=Bob, Возраст=11
('Charlie', 27)
Имя=Charlie, Возраст=27
('Петя', 5)
Имя=Петя, Возраст=5

In [ ]:
for k, v in ages.items():
    print(f'Имя={k}, Возраст={v}')

Имя=Alice, Возраст=7
Имя=Bob, Возраст=11
Имя=Charlie, Возраст=27
Имя=Петя, Возраст=5

## 🧠 Популярная буква

Задана строка. Нужно найти букву, которая встречается чаще всего. Если таких букв несколько, то можно использовать любую среди них.

In [ ]:
sent = "Вот такие буквы"

...

Самая популярная буква: в

### 🧠 Популярная буква (ответ)

Задана строка. Нужно найти букву, которая встречается чаще всего. Если таких букв несколько, то можно использовать любую среди них.

In [ ]:
s = "Вот такие буквы"

freq = {}
for letter in s:
    freq[letter] = freq.get(letter, 0) + 1

max_n, max_letter = 0, None
for letter, count in freq.items():
    if count > max_n:
        max_n = count
        max_letter = letter

print('Самая популярная буква:', max_letter)

Самая популярная буква: т

Или же можно воспользоваться специальным объектом Counter

In [ ]:
from collections import Counter

counter_s = Counter(s.lower())
counter_s

Counter({'в': 2,
         'о': 1,
         'т': 2,
         ' ': 2,
         'а': 1,
         'к': 2,
         'и': 1,
         'е': 1,
         'б': 1,
         'у': 1,
         'ы': 1})

In [ ]:
sorted(counter_s)

[' ', 'а', 'б', 'в', 'е', 'и', 'к', 'о', 'т', 'у', 'ы']

In [ ]:
counter_s.items()

dict_items([('в', 2), ('о', 1), ('т', 2), (' ', 2), ('а', 1), ('к', 2), ('и', 1), ('е', 1), ('б', 1), ('у', 1), ('ы', 1)])

In [ ]:
def my_key(item):
    return item[1]

sorted(counter_s.items(), key=my_key)

[('о', 1),
 ('а', 1),
 ('и', 1),
 ('е', 1),
 ('б', 1),
 ('у', 1),
 ('ы', 1),
 ('в', 2),
 ('т', 2),
 (' ', 2),
 ('к', 2)]

In [ ]:
sorted_counter_s = sorted(counter_s.items(), key=lambda item: item[1])
sorted_counter_s

[('о', 1),
 ('а', 1),
 ('и', 1),
 ('е', 1),
 ('б', 1),
 ('у', 1),
 ('ы', 1),
 ('в', 2),
 ('т', 2),
 (' ', 2),
 ('к', 2)]

In [ ]:
sorted_counter_s[-1][0]

'к'

## 🧠 Посчитаем средний возраст в коллективе

In [ ]:
people = {1: {'name': 'Oleg', 'age': '29', 'sex': 'Male'},
          2: {'name': 'Kate', 'age': '21', 'sex': 'Female'},
          3: {'name': 'Liza', 'age': '24', 'sex': 'Female'},
          4: {'name': 'Pavel', 'age': '36', 'sex': 'Male'}}

27.5

### 🧠 Посчитаем средний возраст в коллективе (ответ)

In [ ]:
age = 0

for el in people.values():
    age += int(el['age'])
print(age / len(people))

27.5

In [ ]:
for el in people.values():
  print(int(el['age']))

29
21
24
36

In [ ]:
sum([int(el['age']) for el in people.values()]) / len(people)

27.5

# Списковые выражения

**Списковые выражения** (list comprehension) генерирует новый список на основе имеющейся коллекции (часто это другие списки; но можно взять и словари, например).

Синтаксис:

```python
new_list = [expression for member in iterable]
new_list = [expression for member in iterable if conditional]
new_list = [expression1 if conditional else expression2 for member in iterable]
```

Пример:

In [ ]:
list1 = []
for x in range(1, 10):
    list1.append(x)

list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
[x for x in range(1, 10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
data = [1, 2, 3, 4]

squares = []
for d in data:
    squares.append(d*d)

squares

[1, 4, 9, 16]

In [ ]:
# через list comprehesnsion
[x*x for x in data]

[1, 4, 9, 16]

По сути, это синтаксический сахар для цикла `for`:

In [ ]:
squares = []
for x in range(1, 5):
    squares.append(x ** 2)

squares

[1, 4, 9, 16]

## Условия в выражении

Условие (`if` без `else`) позволяет указать значения, которые попадут в результат:

In [ ]:
odds = [x for x in range(10) if x % 2 != 0]
odds

[1, 3, 5, 7, 9]

In [ ]:
odds = []

for x in range(10):
    if x % 2 != 0:
        odds.append(x)
odds

[1, 3, 5, 7, 9]

Условие может содержать ветку `else`, но записывается оно до `for`:

```python
new_list = [expression for member in iterable if conditional]
new_list = [expression1 if conditional else expression2 for member in iterable]
```

In [ ]:
import math

sqrts = []
for x in range(-4, 5):
    if x >= 0:
        sqrts.append(math.sqrt(x))
    else:
        sqrts.append(math.nan)

sqrts

[nan, nan, nan, nan, 0.0, 1.0, 1.4142135623730951, 1.7320508075688772, 2.0]

In [ ]:
import math

[math.sqrt(x) if x >= 0 else math.nan for x in range(-4, 5)]

[nan, nan, nan, nan, 0.0, 1.0, 1.4142135623730951, 1.7320508075688772, 2.0]

## Последовательные выражения подряд

Можно строить вложенные конструкции, используя запись нескольких выражений подряд:

In [ ]:
result = []
for x in range(1, 3):
    for y in ['A', 'B', 'C']:
        result.append((x, y))

result

[(1, 'A'), (1, 'B'), (1, 'C'), (2, 'A'), (2, 'B'), (2, 'C')]

In [ ]:
[(x, y) for x in range(1, 3) for y in ['A', 'B', 'C']]

[(1, 'A'), (1, 'B'), (1, 'C'), (2, 'A'), (2, 'B'), (2, 'C')]

In [ ]:
[(x, y, z) for x in range(1, 3) for y in ['A', 'B', 'C'] for z in ['X', 'Y']]

[(1, 'A', 'X'),
 (1, 'A', 'Y'),
 (1, 'B', 'X'),
 (1, 'B', 'Y'),
 (1, 'C', 'X'),
 (1, 'C', 'Y'),
 (2, 'A', 'X'),
 (2, 'A', 'Y'),
 (2, 'B', 'X'),
 (2, 'B', 'Y'),
 (2, 'C', 'X'),
 (2, 'C', 'Y')]

Можно также использовать условия:

In [ ]:
result = []
for x in range(1, 4):
    for y in range(3, 0, -1):
        if x != y:
            result.append((x, y))

result

[(1, 3), (1, 2), (2, 3), (2, 1), (3, 2), (3, 1)]

In [ ]:
[(x, y) for x in range(1, 4) for y in range(3, 0, -1) if x != y]

[(1, 3), (1, 2), (2, 3), (2, 1), (3, 2), (3, 1)]

## Переменная `_`

Иногда используют валидное имя переменной `_`, чтобы не придумывать другое:

In [ ]:
[x for x in range(5)]

[0, 1, 2, 3, 4]

In [ ]:
[_ for _ in range(5)]

[0, 1, 2, 3, 4]

In [ ]:
[0 for _ in range(3)]

[0, 0, 0]

# ~~Выражения для кортежей~~

Выражения для кортежей отсутствуют. Но можно создать список и преобразовать его в кортеж:

In [ ]:
tuple()
()

list()
[]

[]

In [ ]:
(1 for i in range(5))

In [ ]:
[1 for i in range(5)]

[1, 1, 1, 1, 1]

In [ ]:
tuple([1 for i in range(5)])

(1, 1, 1, 1, 1)

In [ ]:
tuple([x for x in range(5) if x % 2 == 0])

(0, 2, 4)

# Выражения для множеств

In [ ]:
set()
{}  # dict
{1, 2, 3}

{1, 2, 3}

Применяется всё то же самое, что для списков, но скобки `[]` заменяются на `{}`:

In [ ]:
{x for x in 'Hello World'}

{' ', 'H', 'W', 'd', 'e', 'l', 'o', 'r'}

In [ ]:
{x for x in 'Hello World' if x.isupper()}

{'H', 'W'}

# Выражения для словарей

Выражения для словарей строятся по похожему принципу, но с двумя отличиями:

1. Используйте `{}` вместо `[]`
2. Задавайте `key: value` на месте результата

In [ ]:
squares = {i: i**2 for i in range(5)}
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
squares = {}
for i in range(5):
    squares[i] = [j for j in range(0, i)]

squares

{0: [], 1: [0], 2: [0, 1], 3: [0, 1, 2], 4: [0, 1, 2, 3]}

In [ ]:
{i: [j for j in range(0, i)] for i in range(5)}

{0: [], 1: [0], 2: [0, 1], 3: [0, 1, 2], 4: [0, 1, 2, 3]}

In [ ]:
squares = {
    i: [j for j in range(0, i)]
    for i in range(5)
}
squares

{0: [], 1: [0], 2: [0, 1], 3: [0, 1, 2], 4: [0, 1, 2, 3]}

## 🧠 list

С помощью выражений создайте список из `n` одинаковых элементов:

- `[0, 0, 0, 0, 0]`
- `[1, 1, 1, 1, 1, 1]`

[0, 0, 0, 0, 0]

[1, 1, 1, 1, 1, 1]

Создайте нулевую матрицу размера `n x n`:

[[0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0]]

Создайте единичную матрицу размера `n x n`:

[[1, 0, 0, 0, 0],
 [0, 1, 0, 0, 0],
 [0, 0, 1, 0, 0],
 [0, 0, 0, 1, 0],
 [0, 0, 0, 0, 1]]

Создайте колоду карт попарно перебирая символы `6`, `7`, `8`, `9`, `10`, `В`, `Д`, `К`, `Т` и `♤`, `♡`, `♢`, `♧`:

In [ ]:
dos = ['6', '7', '8', '9', '10', 'В', 'Д', 'К', 'Т']
mast = ['♤', '♡', '♢', '♧']

...

['6♤',
 '6♡',
 '6♢',
 '6♧',
 '7♤',
 '7♡',
 '7♢',
 '7♧',
 '8♤',
 '8♡',
 '8♢',
 '8♧',
 '9♤',
 '9♡',
 '9♢',
 '9♧',
 '10♤',
 '10♡',
 '10♢',
 '10♧',
 'В♤',
 'В♡',
 'В♢',
 'В♧',
 'Д♤',
 'Д♡',
 'Д♢',
 'Д♧',
 'К♤',
 'К♡',
 'К♢',
 'К♧',
 'Т♤',
 'Т♡',
 'Т♢',
 'Т♧']

### 🧠 (ответ)

С помощью выражений создайте список из `n` одинаковых элементов:

- `[0, 0, 0, 0, 0]`
- `[1, 1, 1, 1, 1, 1]`

In [ ]:
n = 6
zeros = [0 for _ in range(n)]
zeros

[0, 0, 0, 0, 0, 0]

In [ ]:
n = 5
ones = [1 for _ in range(n)]
ones

[1, 1, 1, 1, 1]

Создайте нулевую матрицу размера `n x n`:

In [ ]:
n = 5
zero_mat = [[0 for c in range(n)] for r in range(n)]
zero_mat

[[0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0]]

Создайте единичную матрицу размера `n x n`:

In [ ]:
n = 5
eye_mat = [[ 0 for c in range(n)] for r in range(n)]
for i in range(n):
    eye_mat[i][i] = 1
eye_mat

[[1, 0, 0, 0, 0],
 [0, 1, 0, 0, 0],
 [0, 0, 1, 0, 0],
 [0, 0, 0, 1, 0],
 [0, 0, 0, 0, 1]]

In [ ]:
n = 5
eye_mat = [[1 if c==r else 0 for c in range(n)] for r in range(n)]
eye_mat

[[1, 0, 0, 0, 0],
 [0, 1, 0, 0, 0],
 [0, 0, 1, 0, 0],
 [0, 0, 0, 1, 0],
 [0, 0, 0, 0, 1]]

Создайте колоду карт попарно перебирая символы `6`, `7`, `8`, `9`, `10`, `В`, `Д`, `К`, `Т` и `♤`, `♡`, `♢`, `♧`.

Каждое значение - это кортеж из достоинства и масти.

In [ ]:
dos = ['6', '7', '8', '9', '10', 'В', 'Д', 'К', 'Т']
mast = ['♤', '♡', '♢', '♧']
[d+m for d in dos for m in mast]

['6♤',
 '6♡',
 '6♢',
 '6♧',
 '7♤',
 '7♡',
 '7♢',
 '7♧',
 '8♤',
 '8♡',
 '8♢',
 '8♧',
 '9♤',
 '9♡',
 '9♢',
 '9♧',
 '10♤',
 '10♡',
 '10♢',
 '10♧',
 'В♤',
 'В♡',
 'В♢',
 'В♧',
 'Д♤',
 'Д♡',
 'Д♢',
 'Д♧',
 'К♤',
 'К♡',
 'К♢',
 'К♧',
 'Т♤',
 'Т♡',
 'Т♢',
 'Т♧']

## 🧠 set

Преобразуйте список в множество, оставив в нём элементы большие `25`:

In [ ]:
mylist = [10, 20, 30, 40, 10, 30, 50]

### 🧠 (ответ)

Преобразуйте список в множество, оставив в нём элементы большие `25`:

In [ ]:
mylist = [10, 20, 30, 40, 10, 30, 50]
myset = {x for x in mylist if x > 25}
myset

{30, 40, 50}

## 🧠 dict

Задан словарь:

In [ ]:
persons = {
    'Alice': 7,
    'Bob' : 11,
    'Charlie': 27,
}

Составьте обратный словарь:
- 7 -> Alice
- 11 -> Bob
- 27 -> Charlie

{7: 'Alice', 11: 'Bob', 27: 'Charlie'}

Какая проблема при обращении словаря может быть?

Измените исходные данные, чтобы её продемонстрировать.

### 🧠 (ответ)

Задан словарь:

In [ ]:
persons = {
    'Alice': 7,
    'Bob' : 11,
    'Charlie': 27,
    'David': 11,
}
persons

{'Alice': 7, 'Bob': 11, 'Charlie': 27, 'David': 11}

Составьте обратный словарь:
- 7 -> Alice
- 11 -> Bob
- 27 -> Charlie

In [ ]:
{p[1]: p[0] for p in persons.items()}

{7: 'Alice', 11: 'David', 27: 'Charlie'}

In [ ]:
for p in persons.items():
    print(p, p[0], p[1])

('Alice', 7) Alice 7
('Bob', 11) Bob 11
('Charlie', 27) Charlie 27
('David', 11) David 11

In [ ]:
{persons[k]: k for k in persons.keys()}

{7: 'Alice', 11: 'David', 27: 'Charlie'}

In [ ]:
persons.keys()

dict_keys(['Alice', 'Bob', 'Charlie', 'David'])

In [ ]:
for k in persons.keys():
    print(k)

Alice
Bob
Charlie
David

Какая проблема при обращении словаря может быть?

Измените исходные данные, чтобы её продемонстрировать.

In [ ]:
d = {}
for k, v in persons.items():
    if v in d:
        v_old = d[v]
        v_old.append(k)
        d[v] = v_old
    else:
        d[v] = [k]
d

{7: ['Alice'], 11: ['Bob', 'David'], 27: ['Charlie']}

## 🧠 Комплексное упражнение

Рассмотрим данные о продажах, представленные в виде списка списков, где каждый внутренний список содержит информацию об отдельной транзакции: `[Имя клиента, Продукт, Количество, Цена]`.

In [ ]:
sales_data = [
    ["Иван", "Ноутбук", 1, 1200],
    ["Мария", "Мышь", 2, 25],
    ["Петр", "Клавиатура", 1, 75],
    ["Елена", "Монитор", 1, 300],
    ["Иван", "Мышь", 1, 25],
]

Создать CSV-подобную строку из каждой транзакции:
```
Иван,Ноутбук,1,1200
Мария,Мышь,2,25
...
Иван,Мышь,1,25
```

Данные в формате CSV:
Иван,Ноутбук,1,1200
Мария,Мышь,2,25
Петр,Клавиатура,1,75
Елена,Монитор,1,300
Иван,Мышь,1,25

Получить список всех продуктов, купленных Иваном:
```
Продукты, купленные Иваном: Ноутбук, Мышь
```

Продукты, купленные Иваном: Ноутбук, Мышь

Сформировать отчет о продажах:
```
Отчет о продажах по продуктам:
Ноутбук: 1200
Мышь: 75
Клавиатура: 75
Монитор: 300
```

Отчет о продажах по продуктам:
Ноутбук: 1200
Мышь: 75
Клавиатура: 75
Монитор: 300

### 🧠 Комплексное упражнение (ответ)

Создать CSV-подобную строку из каждой транзакции:
```
Иван,Ноутбук,1,1200
Мария,Мышь,2,25
...
Иван,Мышь,1,25
```

In [ ]:
csv_lines = [",".join(str(item) for item in transaction) for transaction in sales_data]
print("Данные в формате CSV:")
for line in csv_lines:
    print(line)

Данные в формате CSV:
Иван,Ноутбук,1,1200
Мария,Мышь,2,25
Петр,Клавиатура,1,75
Елена,Монитор,1,300
Иван,Мышь,1,25

Получить список всех продуктов, купленных Иваном

In [ ]:
ivan_purchases = [transaction[1] for transaction in sales_data if transaction[0] == "Иван"]
ivan_products_string = ", ".join(ivan_purchases)
print("\nПродукты, купленные Иваном:", ivan_products_string)

Продукты, купленные Иваном: Ноутбук, Мышь

Сформировать отчет о продажах

In [ ]:
product_sales = {}
for transaction in sales_data:
    product = transaction[1]
    quantity = transaction[2]
    price = transaction[3]
    total_price = quantity * price
    product_sales[product] = product_sales.get(product, 0) + total_price

print("\nОтчет о продажах по продуктам:")
for product, total_sale in product_sales.items():
    report_line = ": ".join([product, str(total_sale)])
    print(report_line)

Отчет о продажах по продуктам:
Ноутбук: 1200
Мышь: 75
Клавиатура: 75
Монитор: 300